In [44]:
import pandas as pd

In [45]:
master_frame = pd.read_csv('preprocessed_data.csv')

In [46]:
#Drop unnecessary columns
master_frame.drop(['MEDREIMB_OP', 'BENRES_OP', 'PPPYMT_OP','DEATH',
                   'fst_admsn_dt'], axis=1, inplace=True)

In [47]:
#master_frame.drop('CLM_ADMSN_DT',axis=1, inplace=True)

In [48]:
#Share of patients who died in the dataset. Because it's less than 2% of the total, we can remove them 
master_frame[master_frame.DEATH_DUMMY==1].shape[0]/master_frame.shape[0]

0.01611059417785458

In [49]:
#Maser frame without the patients who died
master_frame=master_frame[master_frame.DEATH_DUMMY==0]

In [50]:
master_frame.drop('DEATH_DUMMY',axis=1,inplace=True)

In [51]:
master_frame.head()

,Unnamed: 0,DESYNPUF_ID,BENE_BIRTH_DT,BENE_DEATH_DT,BENE_SEX_IDENT_CD,BENE_RACE_CD,SP_STATE_CODE,BENE_COUNTY_CD,SP_ALZHDMTA,SP_CHF,...,Y,TRUE_AGE,first_ad_date,end_train_dt,start_train_dt,member_months,prev_hosp_dt,unique_ip_dt,ip_pmt,days_frm_last_ip
0,0,00000B48BCF4AD29,19230901,0,1,5,10,260,2,1,...,0,86,3000-01-01,2010-06-30,2008-01-01,30,2008-08-05,3.0,81000.0,694.0
1,1,0000525AB30E4DEF,19201001,0,1,1,31,300,2,2,...,0,89,3000-01-01,2010-06-30,2008-01-01,30,2008-09-18,2.0,12000.0,650.0
2,2,00009C897C3D8372,19320101,0,0,1,7,70,2,1,...,0,78,3000-01-01,2010-06-30,2008-01-01,30,2008-09-21,5.0,36100.0,647.0
3,3,0001168CE43BE51B,19340901,0,1,1,6,200,2,2,...,0,75,3000-01-01,2010-06-30,2008-01-01,30,NaN,NaN,NaN,NaN
4,4,0002E494BC87CE10,19140701,0,0,2,5,200,2,2,...,0,95,3000-01-01,2010-06-30,2008-01-01,30,NaN,NaN,NaN,NaN

In [52]:
#Read the RX file
rx = pd.read_csv('RX.csv')

In [53]:
rx.head()

   Unnamed: 0       DESYNPUF_ID  #Rx      $Rx
0           0  3EE26E2C5BF00FAC  256  19120.0
1           1  BD112EB18126FDC4  253  17440.0
2           2  2F9E35A7BA256BB4  249  20520.0
3           3  102081D0A8A6EB00  247  24330.0
4           4  B47B3005AE3374FC  244  21480.0

In [54]:
#Merge with RX 
master_frame = pd.merge(master_frame, rx[['DESYNPUF_ID','#Rx','$Rx']], 
                        how='left', on='DESYNPUF_ID')

In [55]:
master_frame.head()

,Unnamed: 0,DESYNPUF_ID,BENE_BIRTH_DT,BENE_DEATH_DT,BENE_SEX_IDENT_CD,BENE_RACE_CD,SP_STATE_CODE,BENE_COUNTY_CD,SP_ALZHDMTA,SP_CHF,...,first_ad_date,end_train_dt,start_train_dt,member_months,prev_hosp_dt,unique_ip_dt,ip_pmt,days_frm_last_ip,#Rx,$Rx
0,0,00000B48BCF4AD29,19230901,0,1,5,10,260,2,1,...,3000-01-01,2010-06-30,2008-01-01,30,2008-08-05,3.0,81000.0,694.0,5.0,210.0
1,1,0000525AB30E4DEF,19201001,0,1,1,31,300,2,2,...,3000-01-01,2010-06-30,2008-01-01,30,2008-09-18,2.0,12000.0,650.0,119.0,6410.0
2,2,00009C897C3D8372,19320101,0,0,1,7,70,2,1,...,3000-01-01,2010-06-30,2008-01-01,30,2008-09-21,5.0,36100.0,647.0,52.0,4140.0
3,3,0001168CE43BE51B,19340901,0,1,1,6,200,2,2,...,3000-01-01,2010-06-30,2008-01-01,30,NaN,NaN,NaN,NaN,NaN,NaN
4,4,0002E494BC87CE10,19140701,0,0,2,5,200,2,2,...,3000-01-01,2010-06-30,2008-01-01,30,NaN,NaN,NaN,NaN,NaN,NaN

In [56]:
#Read the Carrier file
carrier = pd.read_csv('carrier.csv')

In [57]:
carrier.head()

,Unnamed: 0,Unnamed: 0.1,DESYNPUF_ID,BENE_BIRTH_DT,BENE_DEATH_DT,BENE_SEX_IDENT_CD,BENE_RACE_CD,SP_STATE_CODE,BENE_COUNTY_CD,SP_ALZHDMTA,...,member_months,prev_hosp_dt,unique_ip_dt,ip_pmt,days_frm_last_ip,num_pcp,carrier_pmt,carrier_number_claims,office_visits,office_visits_pmt
0,0,0,00000B48BCF4AD29,19230901,0,1,5,10,260,2,...,30,2008-08-05,3.0,243000.0,694.0,131.0,16230.0,141.0,39.0,5440.0
1,1,3,0000525AB30E4DEF,19201001,0,1,1,31,300,2,...,30,2008-09-18,2.0,24000.0,650.0,101.0,12960.0,112.0,25.0,3170.0
2,2,5,00009C897C3D8372,19320101,0,0,1,7,70,2,...,30,2008-09-21,5.0,180500.0,647.0,49.0,3220.0,48.0,6.0,220.0
3,3,10,0001168CE43BE51B,19340901,0,1,1,6,200,2,...,30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,11,0002E494BC87CE10,19140701,0,0,2,5,200,2,...,30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [58]:
#Merge with Carrier data
master_frame = pd.merge(master_frame, carrier[['DESYNPUF_ID','carrier_pmt','carrier_number_claims',
                                               'office_visits', 'office_visits_pmt']], 
                        how='left', on='DESYNPUF_ID')

In [59]:
master_frame.head()

,Unnamed: 0,DESYNPUF_ID,BENE_BIRTH_DT,BENE_DEATH_DT,BENE_SEX_IDENT_CD,BENE_RACE_CD,SP_STATE_CODE,BENE_COUNTY_CD,SP_ALZHDMTA,SP_CHF,...,prev_hosp_dt,unique_ip_dt,ip_pmt,days_frm_last_ip,#Rx,$Rx,carrier_pmt,carrier_number_claims,office_visits,office_visits_pmt
0,0,00000B48BCF4AD29,19230901,0,1,5,10,260,2,1,...,2008-08-05,3.0,81000.0,694.0,5.0,210.0,16230.0,141.0,39.0,5440.0
1,1,0000525AB30E4DEF,19201001,0,1,1,31,300,2,2,...,2008-09-18,2.0,12000.0,650.0,119.0,6410.0,12960.0,112.0,25.0,3170.0
2,2,00009C897C3D8372,19320101,0,0,1,7,70,2,1,...,2008-09-21,5.0,36100.0,647.0,52.0,4140.0,3220.0,48.0,6.0,220.0
3,3,0001168CE43BE51B,19340901,0,1,1,6,200,2,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,0002E494BC87CE10,19140701,0,0,2,5,200,2,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [60]:
#Read Outpatient file
op = pd.read_csv('op.csv')

In [61]:
op.head()

   Unnamed: 0       DESYNPUF_ID  CLM_ID  TOTAL_PAYMENT_PERID
0           0  00000B48BCF4AD29      10               2700.0
1           1  0000525AB30E4DEF      29               5380.0
2           2  00009C897C3D8372      13               2560.0
3           3  0002EC0BCA99CACF       2                200.0
4           4  0002FABBFD6D1C5C       9               1610.0

In [62]:
#Merge with Outpatient data
master_frame = pd.merge(master_frame, op[['DESYNPUF_ID','CLM_ID','TOTAL_PAYMENT_PERID']], 
                        how='left', on='DESYNPUF_ID')

In [63]:
master_frame.head().transpose()

,0,1,2,3,4
Unnamed: 0,0,1,2,3,4
DESYNPUF_ID,00000B48BCF4AD29,0000525AB30E4DEF,00009C897C3D8372,0001168CE43BE51B,0002E494BC87CE10
BENE_BIRTH_DT,19230901,19201001,19320101,19340901,19140701
BENE_DEATH_DT,0,0,0,0,0
BENE_SEX_IDENT_CD,1,1,0,1,0
BENE_RACE_CD,5,1,1,1,2
SP_STATE_CODE,10,31,7,6,5
BENE_COUNTY_CD,260,300,70,200,200
SP_ALZHDMTA,2,2,2,2,2
SP_CHF,1,2,1,2,2
SP_CHRNKIDN,2,2,2,2,2
SP_CNCR,2,2,2,2,2
SP_COPD,2,2,2,2,2
SP_DEPRESSN,2,2,2,2,2
SP_DIABETES,1,1,1,2,2
SP_ISCHMCHT,1,2,2,2,2
SP_OSTEOPRS,2,2,1,2,2
SP_RA_OA,2,2,2,2,2
SP_STRKETIA,2,2,2,2,2
Y,0,0,0,0,0
TRUE_AGE,86,89,78,75,95
first_ad_date,3000-01-01,3000-01-01,3000-01-01,3000-01-01,3000-01-01
end_train_dt,2010-06-30,2010-06-30,2010-06-30,2010-06-30,2010-06-30
start_train_dt,2008-01-01,2008-01-01,2008-01-01,2008-01-01,2008-01-01
member_months,30,30,30,30,30
prev_hosp_dt,2008-08-05,2008-09-18,2008-09-21,NaN,NaN
unique_ip_dt,3,2,5,NaN,NaN
ip_pmt,81000,12000,36100,NaN,NaN
days_frm_last_ip,694,650,647,NaN,NaN
#Rx,5,119,52,NaN,NaN
$Rx,210,6410,4140,NaN,NaN
carrier_pmt,16230,12960,3220,NaN,NaN
carrier_number_claims,141,112,48,NaN,NaN
office_visits,39,25,6,NaN,NaN
office_visits_pmt,5440,3170,220,NaN,NaN
CLM_ID,10,29,13,NaN,NaN
TOTAL_PAYMENT_PERID,2700,5380,2560,NaN,NaN

In [64]:
#Add total payment field
master_frame['total_pmt'] = master_frame[['ip_pmt','$Rx', 'carrier_pmt', 
                                     'TOTAL_PAYMENT_PERID']].sum(axis=1)

In [65]:
master_frame.head(2).transpose()

                                      0                 1
Unnamed: 0                            0                 1
DESYNPUF_ID            00000B48BCF4AD29  0000525AB30E4DEF
BENE_BIRTH_DT                  19230901          19201001
BENE_DEATH_DT                         0                 0
BENE_SEX_IDENT_CD                     1                 1
BENE_RACE_CD                          5                 1
SP_STATE_CODE                        10                31
BENE_COUNTY_CD                      260               300
SP_ALZHDMTA                           2                 2
SP_CHF                                1                 2
SP_CHRNKIDN                           2                 2
SP_CNCR                               2                 2
SP_COPD                               2                 2
SP_DEPRESSN                           2                 2
SP_DIABETES                           1                 1
SP_ISCHMCHT                           1                 2
SP_OSTEOPRS                           2                 2
SP_RA_OA                              2                 2
SP_STRKETIA                           2                 2
Y                                     0                 0
TRUE_AGE                             86                89
first_ad_date                3000-01-01        3000-01-01
end_train_dt                 2010-06-30        2010-06-30
start_train_dt               2008-01-01        2008-01-01
member_months                        30                30
prev_hosp_dt                 2008-08-05        2008-09-18
unique_ip_dt                          3                 2
ip_pmt                            81000             12000
days_frm_last_ip                    694               650
#Rx                                   5               119
$Rx                                 210              6410
carrier_pmt                       16230             12960
carrier_number_claims               141               112
office_visits                        39                25
office_visits_pmt                  5440              3170
CLM_ID                               10                29
TOTAL_PAYMENT_PERID                2700              5380
total_pmt                        100140             36750

In [66]:
#Columns to divie by MM
cols = ['unique_ip_dt','ip_pmt','days_frm_last_ip','#Rx','$Rx', 
        'carrier_pmt', 'carrier_number_claims', 'office_visits', 'office_visits_pmt', 'CLM_ID',
       'TOTAL_PAYMENT_PERID', 'total_pmt']

In [67]:
#Add columns divided by MM
for col in cols:
    master_frame[str(col) + '_mm'] = master_frame[str(col)]/master_frame.member_months

In [68]:
#Transpose for checking math
master_frame.head(1).transpose()

                                         0
Unnamed: 0                               0
DESYNPUF_ID               00000B48BCF4AD29
BENE_BIRTH_DT                     19230901
BENE_DEATH_DT                            0
BENE_SEX_IDENT_CD                        1
BENE_RACE_CD                             5
SP_STATE_CODE                           10
BENE_COUNTY_CD                         260
SP_ALZHDMTA                              2
SP_CHF                                   1
SP_CHRNKIDN                              2
SP_CNCR                                  2
SP_COPD                                  2
SP_DEPRESSN                              2
SP_DIABETES                              1
SP_ISCHMCHT                              1
SP_OSTEOPRS                              2
SP_RA_OA                                 2
SP_STRKETIA                              2
Y                                        0
TRUE_AGE                                86
first_ad_date                   3000-01-01
end_train_dt                    2010-06-30
start_train_dt                  2008-01-01
member_months                           30
prev_hosp_dt                    2008-08-05
unique_ip_dt                             3
ip_pmt                               81000
days_frm_last_ip                       694
#Rx                                      5
$Rx                                    210
carrier_pmt                          16230
carrier_number_claims                  141
office_visits                           39
office_visits_pmt                     5440
CLM_ID                                  10
TOTAL_PAYMENT_PERID                   2700
total_pmt                           100140
unique_ip_dt_mm                        0.1
ip_pmt_mm                             2700
days_frm_last_ip_mm                23.1333
#Rx_mm                            0.166667
$Rx_mm                                   7
carrier_pmt_mm                         541
carrier_number_claims_mm               4.7
office_visits_mm                       1.3
office_visits_pmt_mm               181.333
CLM_ID_mm                         0.333333
TOTAL_PAYMENT_PERID_mm                  90
total_pmt_mm                          3338

In [69]:
master_frame.head()

,Unnamed: 0,DESYNPUF_ID,BENE_BIRTH_DT,BENE_DEATH_DT,BENE_SEX_IDENT_CD,BENE_RACE_CD,SP_STATE_CODE,BENE_COUNTY_CD,SP_ALZHDMTA,SP_CHF,...,days_frm_last_ip_mm,#Rx_mm,$Rx_mm,carrier_pmt_mm,carrier_number_claims_mm,office_visits_mm,office_visits_pmt_mm,CLM_ID_mm,TOTAL_PAYMENT_PERID_mm,total_pmt_mm
0,0,00000B48BCF4AD29,19230901,0,1,5,10,260,2,1,...,23.133333,0.166667,7.000000,541.000000,4.700000,1.300000,181.333333,0.333333,90.000000,3338.0
1,1,0000525AB30E4DEF,19201001,0,1,1,31,300,2,2,...,21.666667,3.966667,213.666667,432.000000,3.733333,0.833333,105.666667,0.966667,179.333333,1225.0
2,2,00009C897C3D8372,19320101,0,0,1,7,70,2,1,...,21.566667,1.733333,138.000000,107.333333,1.600000,0.200000,7.333333,0.433333,85.333333,1534.0
3,3,0001168CE43BE51B,19340901,0,1,1,6,200,2,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
4,4,0002E494BC87CE10,19140701,0,0,2,5,200,2,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0

In [70]:
#Write pre-selected data into a csv for records
master_frame.to_csv('master_frame_all_records.csv')

In [71]:
master_frame.columns

Index(['Unnamed: 0', 'DESYNPUF_ID', 'BENE_BIRTH_DT', 'BENE_DEATH_DT',
       'BENE_SEX_IDENT_CD', 'BENE_RACE_CD', 'SP_STATE_CODE', 'BENE_COUNTY_CD',
       'SP_ALZHDMTA', 'SP_CHF', 'SP_CHRNKIDN', 'SP_CNCR', 'SP_COPD',
       'SP_DEPRESSN', 'SP_DIABETES', 'SP_ISCHMCHT', 'SP_OSTEOPRS', 'SP_RA_OA',
       'SP_STRKETIA', 'Y', 'TRUE_AGE', 'first_ad_date', 'end_train_dt',
       'start_train_dt', 'member_months', 'prev_hosp_dt', 'unique_ip_dt',
       'ip_pmt', 'days_frm_last_ip', '#Rx', '$Rx', 'carrier_pmt',
       'carrier_number_claims', 'office_visits', 'office_visits_pmt', 'CLM_ID',
       'TOTAL_PAYMENT_PERID', 'total_pmt', 'unique_ip_dt_mm', 'ip_pmt_mm',
       'days_frm_last_ip_mm', '#Rx_mm', '$Rx_mm', 'carrier_pmt_mm',
       'carrier_number_claims_mm', 'office_visits_mm', 'office_visits_pmt_mm',
       'CLM_ID_mm', 'TOTAL_PAYMENT_PERID_mm', 'total_pmt_mm'],
      dtype='object')

In [72]:
master_model = master_frame[['DESYNPUF_ID', 'BENE_SEX_IDENT_CD', 'BENE_RACE_CD', 'SP_STATE_CODE', 
                        'SP_ALZHDMTA', 'SP_CHF', 'SP_CHRNKIDN', 'SP_CNCR', 'SP_COPD',
       'SP_DEPRESSN', 'SP_DIABETES', 'SP_ISCHMCHT', 'SP_OSTEOPRS', 'SP_RA_OA',
       'SP_STRKETIA', 'Y', 'TRUE_AGE', 'unique_ip_dt_mm', 'ip_pmt_mm',
       'days_frm_last_ip_mm', '#Rx_mm', '$Rx_mm', 'carrier_pmt_mm',
       'carrier_number_claims_mm', 'office_visits_mm', 'office_visits_pmt_mm',
       'CLM_ID_mm', 'TOTAL_PAYMENT_PERID_mm', 'total_pmt_mm' ]]

In [73]:
#Bucketing age model
def bucket_age(age):
    if age < 65:
        return 1
    elif age < 75:
        return 2
    elif age < 85:
        return 3
    else:
        return 4

In [74]:
master_model['age_bucket'] = master_model['TRUE_AGE'].apply(lambda x: bucket_age(x))

/Users/ksenia/anaconda/envs/py36/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [75]:
master_model.head().transpose()

,0,1,2,3,4
DESYNPUF_ID,00000B48BCF4AD29,0000525AB30E4DEF,00009C897C3D8372,0001168CE43BE51B,0002E494BC87CE10
BENE_SEX_IDENT_CD,1,1,0,1,0
BENE_RACE_CD,5,1,1,1,2
SP_STATE_CODE,10,31,7,6,5
SP_ALZHDMTA,2,2,2,2,2
SP_CHF,1,2,1,2,2
SP_CHRNKIDN,2,2,2,2,2
SP_CNCR,2,2,2,2,2
SP_COPD,2,2,2,2,2
SP_DEPRESSN,2,2,2,2,2
SP_DIABETES,1,1,1,2,2
SP_ISCHMCHT,1,2,2,2,2
SP_OSTEOPRS,2,2,1,2,2
SP_RA_OA,2,2,2,2,2
SP_STRKETIA,2,2,2,2,2
Y,0,0,0,0,0
TRUE_AGE,86,89,78,75,95
unique_ip_dt_mm,0.1,0.0666667,0.166667,NaN,NaN
ip_pmt_mm,2700,400,1203.33,NaN,NaN
days_frm_last_ip_mm,23.1333,21.6667,21.5667,NaN,NaN
#Rx_mm,0.166667,3.96667,1.73333,NaN,NaN
$Rx_mm,7,213.667,138,NaN,NaN
carrier_pmt_mm,541,432,107.333,NaN,NaN
carrier_number_claims_mm,4.7,3.73333,1.6,NaN,NaN
office_visits_mm,1.3,0.833333,0.2,NaN,NaN
office_visits_pmt_mm,181.333,105.667,7.33333,NaN,NaN
CLM_ID_mm,0.333333,0.966667,0.433333,NaN,NaN
TOTAL_PAYMENT_PERID_mm,90,179.333,85.3333,NaN,NaN
total_pmt_mm,3338,1225,1534,0,0
age_bucket,4,4,3,3,4

In [76]:
master_model.drop('TRUE_AGE',axis=1,inplace=True)

/Users/ksenia/anaconda/envs/py36/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [77]:
master_model.head().transpose()

,0,1,2,3,4
DESYNPUF_ID,00000B48BCF4AD29,0000525AB30E4DEF,00009C897C3D8372,0001168CE43BE51B,0002E494BC87CE10
BENE_SEX_IDENT_CD,1,1,0,1,0
BENE_RACE_CD,5,1,1,1,2
SP_STATE_CODE,10,31,7,6,5
SP_ALZHDMTA,2,2,2,2,2
SP_CHF,1,2,1,2,2
SP_CHRNKIDN,2,2,2,2,2
SP_CNCR,2,2,2,2,2
SP_COPD,2,2,2,2,2
SP_DEPRESSN,2,2,2,2,2
SP_DIABETES,1,1,1,2,2
SP_ISCHMCHT,1,2,2,2,2
SP_OSTEOPRS,2,2,1,2,2
SP_RA_OA,2,2,2,2,2
SP_STRKETIA,2,2,2,2,2
Y,0,0,0,0,0
unique_ip_dt_mm,0.1,0.0666667,0.166667,NaN,NaN
ip_pmt_mm,2700,400,1203.33,NaN,NaN
days_frm_last_ip_mm,23.1333,21.6667,21.5667,NaN,NaN
#Rx_mm,0.166667,3.96667,1.73333,NaN,NaN
$Rx_mm,7,213.667,138,NaN,NaN
carrier_pmt_mm,541,432,107.333,NaN,NaN
carrier_number_claims_mm,4.7,3.73333,1.6,NaN,NaN
office_visits_mm,1.3,0.833333,0.2,NaN,NaN
office_visits_pmt_mm,181.333,105.667,7.33333,NaN,NaN
CLM_ID_mm,0.333333,0.966667,0.433333,NaN,NaN
TOTAL_PAYMENT_PERID_mm,90,179.333,85.3333,NaN,NaN
total_pmt_mm,3338,1225,1534,0,0
age_bucket,4,4,3,3,4

In [78]:
#Check for NAN
master_model.columns[pd.isnull(master_model).sum()>0].tolist()

['unique_ip_dt_mm',
 'ip_pmt_mm',
 'days_frm_last_ip_mm',
 '#Rx_mm',
 '$Rx_mm',
 'carrier_pmt_mm',
 'carrier_number_claims_mm',
 'office_visits_mm',
 'office_visits_pmt_mm',
 'CLM_ID_mm',
 'TOTAL_PAYMENT_PERID_mm']

In [79]:
#Fill missing values with 0
master_model.fillna(0, inplace = True)

/Users/ksenia/anaconda/envs/py36/lib/python3.6/site-packages/pandas/core/frame.py:2852: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  downcast=downcast, **kwargs)

In [80]:
#Write  data into a csv for records
master_model.to_csv('master_model_data.csv')

In [81]:
Y = master_model.pop("Y")

In [82]:
master_model.head()

,DESYNPUF_ID,BENE_SEX_IDENT_CD,BENE_RACE_CD,SP_STATE_CODE,SP_ALZHDMTA,SP_CHF,SP_CHRNKIDN,SP_CNCR,SP_COPD,SP_DEPRESSN,...,#Rx_mm,$Rx_mm,carrier_pmt_mm,carrier_number_claims_mm,office_visits_mm,office_visits_pmt_mm,CLM_ID_mm,TOTAL_PAYMENT_PERID_mm,total_pmt_mm,age_bucket
0,00000B48BCF4AD29,1,5,10,2,1,2,2,2,2,...,0.166667,7.000000,541.000000,4.700000,1.300000,181.333333,0.333333,90.000000,3338.0,4
1,0000525AB30E4DEF,1,1,31,2,2,2,2,2,2,...,3.966667,213.666667,432.000000,3.733333,0.833333,105.666667,0.966667,179.333333,1225.0,4
2,00009C897C3D8372,0,1,7,2,1,2,2,2,2,...,1.733333,138.000000,107.333333,1.600000,0.200000,7.333333,0.433333,85.333333,1534.0,3
3,0001168CE43BE51B,1,1,6,2,2,2,2,2,2,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,3
4,0002E494BC87CE10,0,2,5,2,2,2,2,2,2,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,4

In [83]:
X = master_model

In [84]:
from sklearn.cross_validation import train_test_split

In [85]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, train_size=0.75)

In [86]:
X_train.to_csv('X_train_w_ID.csv')
X_test.to_csv('X_test_w_ID.csv')
Y_train.to_csv('Y_train.csv')
Y_test.to_csv('Y_test.csv')